<h1 align="center" style="font-family:courier; background-color:powderblue;"> Student Name : Sartaj Ahmed Salman  </h1> 
<h2 align="center" style="background-color:lightgray;"> Email: s2140019@edu.cc.uec.ac.jp  </h2>                              
<h3 align="center" style="background-color:lightgray;" >Phd Student At UEC Tokyo, Japan</h3> 

<h2 align="center" style="font-family:courier; background-color:powderblue;"> Address:    From Skardu, Pakistan </h2>

# MANOVA
- we are using Sample data set price and purchase_days_before_daprture are dependent 
- and airline are independent valiables

In [1]:
# Import Libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from statsmodels.multivariate.manova import MANOVA

In [3]:
# Load Dataset
df = pd.read_csv('Sample.csv')
df.head()

,purchase_days_before_daprture,airline,baggage_weight,baggage_pieces,price
0,0,alpha,0.000000,0,8739.0
1,4,beta,0.444444,0,10088.0
2,2,beta,0.444444,0,7350.0
3,12,beta,0.888889,0,9684.0
4,17,gamma,0.444444,1,7765.0

In [4]:
df.columns

Index(['purchase_days_before_daprture', 'airline', 'baggage_weight',
       'baggage_pieces', 'price'],
      dtype='object')

In [8]:
# MANOVA
mova =MANOVA.from_formula('purchase_days_before_daprture+price + baggage_weight+baggage_pieces ~ airline',data=df)
print(mova.mv_test())

                     Multivariate linear model
===================================================================

-------------------------------------------------------------------
        Intercept        Value  Num DF   Den DF    F Value   Pr > F
-------------------------------------------------------------------
           Wilks' lambda 0.1081 4.0000 29993.0000 61872.1552 0.0000
          Pillai's trace 0.8919 4.0000 29993.0000 61872.1552 0.0000
  Hotelling-Lawley trace 8.2515 4.0000 29993.0000 61872.1552 0.0000
     Roy's greatest root 8.2515 4.0000 29993.0000 61872.1552 0.0000
-------------------------------------------------------------------

-------------------------------------------------------------------
        airline         Value   Num DF   Den DF    F Value   Pr > F
-------------------------------------------------------------------
          Wilks' lambda 0.2871 12.0000 79354.3106  3985.8011 0.0000
         Pillai's trace 0.7159 12.0000 89985.0000  2350.3901 0.0000
 Hotelling-Lawley trace 2.4731 12.0000 52483.4377  6181.0824 0.0000
    Roy's greatest root 2.4689  4.0000 29995.0000 18513.4609 0.0000
===================================================================