# Python Chilla 10 hours video
## Basics of Python
### This file contains the basic concept of python by Ammar Bhai

### 1-indexing and Data Structure

In [2]:
a = "Samosa Pakora"
a

'Samosa Pakora'

In [3]:
#length of indeces
len(a)

13

In [5]:
a[0]

'S'

In [6]:
a[1]

'a'

In [7]:
a[0:5]

'Samos'

In [8]:
a[0:]

'Samosa Pakora'

In [9]:
a[:-3]

'Samosa Pak'

In [10]:
a[:]

'Samosa Pakora'

### 1a-String Method

In [13]:
food ="Biryani"
food

'Biryani'

In [14]:

len(food)

7

In [15]:
# Capitalize
food.upper()

'BIRYANI'

In [16]:
# Lower Case
food.lower()

'biryani'

In [18]:
# Replace 
food.replace("B","sh")

'shiryani'

In [19]:
# Counting special character
name ="Sartaj Ahmed is following the Chilla with Ammar Bhai"
name

'Sartaj Ahmed is following the Chilla with Ammar Bhai'

In [20]:
name.count("a")

5

### 1b-Finding an index in String

In [21]:
name.find("w")

21

In [24]:
# Spliting String 
food= "I love Samosa, Pakora, Biryani "
food

'I love Samosa, Pakora, Biryani '

In [25]:

food.split(',')

['I love Samosa', ' Pakora', ' Biryani ']

# Basic Data Structure in Python 
#### Tuple, List, Dictionaries, Set

#### 1-Tuple
> - Ordered collection of elements
> - Enclosed in ()
> - Different kind of elements can be stored
> - Unmutable

In [27]:
tup1 = (1,"python","True","10.2")
tup1

(1, 'python', 'True', '10.2')

In [28]:
print(type(tup1))

<class 'tuple'>

#### 1a-Indexing in Tuple

In [30]:
tup1[1]

'python'

In [31]:
tup1[0:5]

(1, 'python', 'True', '10.2')

In [32]:
tup1[0:3]

(1, 'python', 'True')

In [33]:
len(tup1)

4

In [34]:
#Concatination 
tup2 =(2,"Baba",3.5,"False")
tup1+tup2

(1, 'python', 'True', '10.2', 2, 'Baba', 3.5, 'False')

In [35]:
tup1*2+tup2

(1,
 'python',
 'True',
 '10.2',
 1,
 'python',
 'True',
 '10.2',
 2,
 'Baba',
 3.5,
 'False')

In [36]:
tup3 = (20,30,60,85)
tup3

(20, 30, 60, 85)

In [37]:
min(tup3)

20

### 2-List
>- Ordered collection of elements 
>- Enclosed in [ ]
>- Mutable

In [38]:
lis = [1,"python","True","10.2"]
lis

[1, 'python', 'True', '10.2']

In [39]:
type(lis)

list

In [40]:
len(lis)

4

In [42]:
lis2 = [1,"python","True","10.2",12,13]
lis2

[1, 'python', 'True', '10.2', 12, 13]

In [43]:
lis*2

[1, 'python', 'True', '10.2', 1, 'python', 'True', '10.2']

In [57]:
lis.append("Ahmed")
lis

['Ahmed', '10.2', 'True', 'python', 1, 'Ahmed']

In [50]:
lis.remove("Ahmed")

In [58]:
lis

['Ahmed', '10.2', 'True', 'python', 1, 'Ahmed']

In [60]:
lis.reverse()
lis

['Ahmed', '10.2', 'True', 'python', 1, 'Ahmed']

In [61]:
lis.count("Ahmed")

2

In [62]:
lis.count("t")

0

In [63]:
lis3 = [10,12,23,45,11,1,123,123]
lis3

[10, 12, 23, 45, 11, 1, 123, 123]

In [67]:
lis3.sort()
lis3

[1, 10, 11, 12, 23, 45, 123, 123]

In [68]:
lis2 +lis3

[1, 'python', 'True', '10.2', 12, 13, 1, 10, 11, 12, 23, 45, 123, 123]

### 2-Dictionaries
> - Unordered
> - Enclosed in { }
> - Keys and Values
> - Mutable

In [70]:
# Food and their prices 
D1 ={"Samosa":30,"Pakora":10,"Raita":5,"Chicken Roll":30}
D1

{'Samosa': 30, 'Pakora': 10, 'Raita': 5, 'Chicken Roll': 30}

In [71]:
type(D1)

dict

In [72]:
#Extract Data 
D1.keys()

dict_keys(['Samosa', 'Pakora', 'Raita', 'Chicken Roll'])

In [73]:
D1.values()

dict_values([30, 10, 5, 30])

In [74]:
D1["Kachori"]= 15

In [75]:
D1

{'Samosa': 30, 'Pakora': 10, 'Raita': 5, 'Chicken Roll': 30, 'Kachori': 15}

In [76]:
D1["Raita"]= 8

In [77]:
D1

{'Samosa': 30, 'Pakora': 10, 'Raita': 8, 'Chicken Roll': 30, 'Kachori': 15}

In [78]:
D2 = {"Dates":50, "Chocolates":200, "Sawyan":1000}
D2

{'Dates': 50, 'Chocolates': 200, 'Sawyan': 1000}

In [79]:
D1.update(D2)

In [80]:
D1

{'Samosa': 30,
 'Pakora': 10,
 'Raita': 8,
 'Chicken Roll': 30,
 'Kachori': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Sawyan': 1000}

### 4-Sets
> - Unordered Elements
> - Enclosed in { }
> - No Duplicates are allowed

In [81]:
s1 = {1,2.3,5.2,"Ammar","Codianics"}
s1

{1, 2.3, 5.2, 'Ammar', 'Codianics'}

In [82]:
s1.add("Sartaj")

In [83]:
s1

{1, 2.3, 5.2, 'Ammar', 'Codianics', 'Sartaj'}

In [84]:
s1.remove(1)

In [85]:
s1

{2.3, 5.2, 'Ammar', 'Codianics', 'Sartaj'}

In [93]:
s2=[1,22,33,4,55,5,2]
s2.sort()
s2

[1, 2, 4, 5, 22, 33, 55]

In [87]:
s1.pop()
print(s1)

{'Sartaj', 5.2, 'Ammar', 'Codianics'}

In [88]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [89]:

thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [91]:
del thislist[0]
print(thislist)

['cherry', 'orange', 'kiwi', 'melon', 'mango']